.element{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin-top: 50px;
}

.element__template{
    display: flex;
    flex-direction: column;

}


.element__item{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 25px 15px 31px 21px;
}

.element__image{
    max-width: 282px;

}

.element__title{
    color: black;
    font-family: 'Inter900';
    font-size: 24px;
    line-height: 29.05px;
    margin: 0;
    text-align: left;

}


.element__like{
    cursor: pointer;
    border: none;
    background: transparent url("../images/like.png") center no-repeat;
    height: 24px;

    width: 24px;
}

.element__like:hover{
    opacity: 0.7;
    transition: 0.5s;
}

.element__like-black{
    cursor: pointer;
    border: none;
    background: transparent url(../images/like-black.png) center no-repeat;
    height: 24px;

    width: 24px;
}
.element__like-black:hover{
    transition: 0.5s;
}




@media screen and (max-width: 1024px) {
    .element{
        grid-template-columns: repeat(2, 1fr);
        max-width: 581px;
        margin: 43px auto 0;
    }
    
}
@media screen and (max-width: 720px) {
    .element{
        grid-template-columns: 1fr;
        max-width: 282px;
        margin: 36px auto 0;
    }

}