.element{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin-top: 50px;
}

.element__template{
    display: flex;
    flex-direction: column;

}


.element__item{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 25px 15px 31px 21px;
}

.element__image{
    max-width: 282px;

}

.element__title{
    color: black;
    font-family: 'Inter900';
    font-size: 24px;
    line-height: 29.05px;
    margin: 0;
    text-align: left;


}

.element__like{
    cursor: pointer;
    border: none;
    background: transparent url("../images/like.png") center no-repeat;
    height: 24px;
    transition: opacity 0.2s;
    width: 24px;
}

.element__like:hover{
    opacity: 0.7;
}

.element__like::after,
.element__like::before{
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 1);
}
/* ver se precisa de javascript */