.popup{
    display: none;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background: white;
    color: black;
    position: relative;
    animation: 2s drop;
    margin-top: 100px;
}
@keyframes drop{
    0% { top: -100%;
        /* Estilos no início da animação */
      }
      100% { bottom: 50%;
        /* Estilos no fim da animação */
      }
    }


.popup__title{
    font-family: 'Inter900';
    font-size: 24px;
    line-height: 29.05px;
    text-align: left;
    padding: 34px 64px 54px 36px;
    margin: 0;
}
.popup__form{
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 auto;
}

.popup__edit{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 50px;
    font-size: 14px;
    font-family: 'Inter400';
    height: 14px;
    margin-bottom: 29.74px;
    padding-bottom: 13.26px;
}

.popup__button{
    width: 358px;
    height: 50.15px;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;

}
.popup__close-button{
    background: transparent url(../images/close-icon.png) center;
    position: absolute;
    right: -34px;
    top: -30px;
    border: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.popup__close-button:hover {
    opacity: 0.7;
 }